html.theme-in-transition {
  *,
  *::before,
  *::after {
    transition: all $transition-all-time linear;

  }
}

.list-leave-active {
  position: absolute;
}
// .list-move {
//   transition: transform 1s;
// }
.list-enter, .list-leave-to {
  transform: translateY(0);
  opacity: 0;
}