$transition-all-time: 300ms;

$duration-animation-fast: 100ms;
$duration-animation-base: 300ms;
$duration-animation-long: 400ms;
$duration-card-flip: 800ms;
$duration-appear: 1000ms;
$duration-social-panel-moving: 3s;